@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


$font-premium: "Montserrat", sans-serif;

* {
  font-family: $font-premium;
  font-weight: 500;
  // max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  // position: relative;
  // overflow: hidden;
}

$color-primo: #ff6060;
$color-second: #F6F6F6;
$color-tertio: #fff;

@keyframes textDown {
  0% {transform: translateY(0)}

  100%{transform: translateY(30px);
    border-radius: 0 5px 5px 0;
  
  }
  
}
