@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

$font-premium: "Montserrat", sans-serif;

* {
  font-family: $font-premium;
  font-weight: 500;
  max-width: 100%;
  // position: relative;
}

$color-premium: #ff6060;
