footer {
  background-color: black;
  height: 209px;
  
}

.imageFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 66px 463px 29px 463px;
}
