
.slides {
    border-radius: 25px;
    text-align: center;
    // background: #000;
    // width: 100%;
    // padding: 0 30px;
    // border:2px solid green;
    position: relative;
}

.slides img {
    // color: blue;
    width: 1440px;
    // width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.arrows {
    position: relative;
}
.arrowLeft {
    position: absolute;
    top:38%;
    left:5%;
    z-index: 1;
    cursor: pointer;
    border:1px solid red;

    @media (min-width: 2556px) {
        left:15%;

    }
    
        
    
}
.arrowRight {
    position: absolute;
    top:38%;
    right:5%;
    z-index: 1;
    cursor: pointer;

}

.slidePage{
    color:white;
    position: absolute;
    bottom:38%;
    left:50%;
}