.carrouselContain {
    position: relative;
    margin-bottom: 30px;
}

.slides {
  border-radius: 25px;
  text-align: center;
//   position: relative;
}

.slides img {
  width: 1440px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;

  @media (min-width: 1500px) {
    width: 2000px;
  }
}

.arrows {
//   position: relative;
}
.arrowLeft {
  position: absolute;
  top: 38%;
  left: 2%;
  z-index: 1;
  cursor: pointer;
//   border: 1px solid red;

  @media (min-width: 1500px) {
    left: 3%;
    
  }


  @media (max-width: 768px) {
    height: 24px;
    width: 24px;
  }
}
.arrowRight {
  position: absolute;
  top:38%;
  right:2%;
  z-index: 1;
  cursor: pointer;
//   border: 1px solid red;
  
  @media (min-width:1700px) {
    right: 3%;
  }

  @media (max-width: 768px) {
    height: 24px;
    width: 24px;
  }
}

.slidePage {
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
