@import '../base.scss';

.arrowDown {
    // border: 1px solid red;
    transform: rotate(180deg);
    transition: all 500ms;
}

.arrowDown:active {
    // transition: all 500ms;
    animation: rotateArrow 500ms;

}



.titleArrow {
    display: flex;
    width: 100%;
}
.titleArrow img {
    background-color: $color-primo;
    border-radius: 5px 0 0 5px;

}

.title {
    width: 100%;
}