.host {
    // border: 5px solid blue;
    display: flex;
    // justify-content: space-between;
    // margin-right: 30px;
    // margin-top: 25px;
    gap:15px;
    width: 100%;

    @media (max-width: 768px) {
        justify-content: space-between;
    }

    & h3 {
        padding-top: 15px;
        // margin-left: 55px;
        width: 50%;
        text-align: right;

        @media (max-width:768px) {
            width: 100%;
        }
    }

}

.host img {
    border-radius: 100%;
    object-fit: cover;
    width: 64px;
    height: 64px;
}