.tag {
    background-color: $color-primo;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    gap: 10px;
    width: auto;
    padding: 3px 15px;
    height: 25px;
    font-size: 18px;
    // margin: 5px;
    @media (max-width:768px) {
        font-size: 10px;
    }

   

}

.tags {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap:8px;
}