.containerAccomodation {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow: hidden;

  @media (max-width:768px){
    margin: 0;
  }
}

.containerAcc {
  
  padding: 0 30px;
  color: $color-primo;
  margin-bottom: 50px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  
  @media (max-width:768px) {
    max-width: 768px;
  }

  @media (min-width: 2000px) {
    // padding: 0 280px;
  }

  //  @media (max-width: 1024px) {
  //     padding: 0;
  //  }
}
.titleHostRating {
display: flex;
justify-content: space-between;

@media (max-width:768px) {
  flex-direction: column;
  & h1 {
    font-size: 18px;
  }
  & h2 {
    font-size: 14px;
  }
}
}

.hostRating {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: row-reverse;
  }

  @media (max-width:360px) {
    justify-content: center;

  }
}

.details {
  display: flex;
  gap: 76px;
  margin-top: 25px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap:30px
  }
}
.description {
  width: 50%;
  // border-radius: 10px;
  // margin: 0;
  @media (max-width:768px) {
    width: 100%;
  }
}

.equipments {
  width: 50%;

  @media (max-width:768px) {
    width: 100%;
  }
}

.equip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0;

  & li {
    text-align: left;
    
    
  }
}
