.containerAcc {
    padding: 0 30px;
    color: $color-primo;
    margin-bottom: 50px;


}

aside {
    width: 20%;
    display: flex;
    justify-content: right;
    // border: 5px solid blue;
    
}
.hostRating {
    display: flex;
    justify-content: space-between;
}

.details {
    display:flex;
    gap:20px;

 
}
.description {
    width: 50%;
    // border-radius: 10px;
    // margin: 0;
    

   
}
.title {
    background-color: $color-primo;
    color:$color-tertio;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
.text {
    padding: 5px;
border-radius: 5px;
    background-color: $color-second;
}
.equipments {
    width: 50%;
}

.equip {
    display: flex;
    flex-direction: column;
}
