// @import "./base.scss";

.error h1 {
  color: $color-premium;
//   top: 0;
//   left: 0;
  font-size: 280px;
  font-weight: 600;
}

.error h3 {
  color: $color-premium;
//   position: absolute;
//   top: 60%;
//   left: 30%;
  font-size: 36px;
}

.linkError {
//   position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
//   top: 80%;
//   left: 50%;
  color: $color-premium;
}
