.header {
  display: flex;
  justify-content: space-between;
  padding: 45px 40px;
  max-width: 1440px;
  text-align: center;

  @media (max-width: 768px) {

    max-width: 768px;
    // justify-content: center;
  }

  

  .logo img{
    @media (max-width:768px) {
      width: 100%;
      max-width: 145px;
    //   font-size: 20px;
    }
  }

  // overflow: hidden;
}
ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
ul a {
  text-decoration: none;
  color: $color-primo;
}
ul a:hover {
  text-decoration: underline;
}

ul a.active {
  text-decoration: underline;
}
li {
  list-style: none;
}
