@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
  max-width: 370px;
}
.imageContainer:hover {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 24px, rgba(17, 17, 26, 0.3) 0px 24px 24px;
  transition: all 300ms ease;
}
@media (max-width: 768px) {
  .imageContainer {
    border-radius: 10px;
  }
}
.imageContainer .content {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 370px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0px;
  color: #fff;
  display: flex;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.imageContainer .content p {
  padding: 0 15px;
}
@media (max-width: 768px) {
  .imageContainer .content {
    width: 100%;
    height: 80px;
  }
}

.imageContainer img {
  width: 100%;
  height: 340px;
  max-width: 370px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  filter: brightness(90%);
}
@media (max-width: 1090px) {
  .imageContainer img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .imageContainer img {
    width: 100%;
    height: 255px;
    max-width: 335px;
    border-radius: 10px;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
}

@keyframes textDown {
  0% {
    transform: translateY(-1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.containerError {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}

.error {
  padding-bottom: 50px;
}

.error h1 {
  color: #ff6060;
  font-size: 280px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1024px) {
  .error h1 {
    font-size: 150px;
  }
}
@media (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }
}

.error h3 {
  color: #ff6060;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .error h3 {
    font-size: 18px;
  }
}

.linkError {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  padding-bottom: 50px;
  font-size: 18px;
}
@media (max-width) {
  .linkError {
    font-size: 14px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 45px 40px;
  max-width: 1440px;
  text-align: center;
}
@media (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .header .logo img {
    width: 100%;
    max-width: 145px;
  }
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul a {
  text-decoration: none;
  color: #ff6060;
}

ul a:hover {
  text-decoration: underline;
}

ul a.active {
  text-decoration: underline;
}

li {
  list-style: none;
}
@media (max-width: 768px) {
  li {
    text-transform: uppercase;
    font-size: 9px;
  }
}

footer {
  background-color: black;
  height: 209px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  footer {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  footer {
    max-width: 768px;
  }
}

.imageFooter {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 66px 463px 29px 463px;
}
@media (max-width: 768px) {
  .imageFooter {
    background-color: inherit;
    padding: 66px 80px 58px 81px;
  }
}
.imageFooter .logoNoneMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.imageFooter .logoNoneMobile img {
  padding: 0 30px;
  object-fit: cover;
  margin: auto;
}
@media (max-width: 768px) {
  .imageFooter .logoNoneMobile {
    margin-bottom: 0;
    display: none;
  }
}

.logoFooterMobile {
  display: none;
  object-fit: cover;
  margin-bottom: 10px;
  height: 200px;
}
@media (max-width: 768px) {
  .logoFooterMobile {
    display: block;
  }
}

.contain {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 50px;
  margin: 50px;
  border-radius: 25px;
}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    padding: 0;
    margin: 0 10px;
    margin-bottom: 27px;
    justify-content: center;
    align-items: center;
  }
}

.container a {
  text-decoration: none;
}

.carrouselContain {
  position: relative;
  margin-bottom: 30px;
}

.slides {
  border-radius: 25px;
  text-align: center;
}

.slides img {
  width: 100%;
  height: 415px;
  max-width: 1440px;
  object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .slides img {
    max-width: 768px;
    height: 255px;
  }
}

.arrowLeft {
  position: absolute;
  top: 38%;
  left: 3%;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 1500px) {
  .arrowLeft {
    left: 3%;
  }
}
@media (max-width: 768px) {
  .arrowLeft img {
    width: 24px;
    left: 1%;
  }
}

.arrowRight {
  position: absolute;
  top: 38%;
  right: 2%;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 1700px) {
  .arrowRight {
    right: 3%;
  }
}
@media (max-width: 768px) {
  .arrowRight img {
    width: 24px;
    right: 4%;
  }
}

.slidePage {
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.slideNone {
  display: none;
}

.containerAccomodation {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 768px) {
  .containerAccomodation {
    margin: 0;
  }
}

.containerAcc {
  padding: 0 30px;
  color: #ff6060;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .containerAcc {
    max-width: 768px;
  }
}
.titleHostRating {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .titleHostRating {
    flex-direction: column;
  }
  .titleHostRating h1 {
    font-size: 18px;
  }
  .titleHostRating h2 {
    font-size: 14px;
  }
}

.hostRating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .hostRating {
    flex-direction: row-reverse;
  }
}
@media (max-width: 360px) {
  .hostRating {
    justify-content: center;
  }
}

.details {
  display: flex;
  gap: 76px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .details {
    flex-direction: column;
    gap: 30px;
  }
}

.description {
  width: 50%;
}
@media (max-width: 768px) {
  .description {
    width: 100%;
  }
}

.equipments {
  width: 50%;
}
@media (max-width: 768px) {
  .equipments {
    width: 100%;
  }
}

.equip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0;
}
.equip li {
  text-align: left;
}

.host {
  display: flex;
  gap: 15px;
  width: 100%;
}
@media (max-width: 768px) {
  .host {
    justify-content: space-between;
  }
}
.host h3 {
  padding-top: 15px;
  width: 50%;
  text-align: right;
}
@media (max-width: 768px) {
  .host h3 {
    width: 100%;
    font-size: 12px;
  }
}

.host img {
  border-radius: 100%;
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.tag {
  background-color: #ff6060;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  gap: 10px;
  width: auto;
  padding: 3px 15px;
  height: 25px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .tag {
    font-size: 10px;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 8px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  box-sizing: border-box;
}

@keyframes textDown {
  0% {
    transform: translateY(-1px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.collapse {
  color: #ff6060;
}

.arrowUp {
  transform: rotate(180deg);
  transition: all 500ms;
}

.arrowDown {
  transform: rotate(0deg);
  transition: all 500ms;
}

.titleArrow {
  display: flex;
  width: 100%;
  height: 52px;
}
@media (max-width: 768px) {
  .titleArrow {
    height: 30px;
  }
}
.titleArrow button {
  background-color: #ff6060;
  border: transparent;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .titleArrow img {
    width: 20px;
    height: 20px;
  }
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .title {
    font-size: 13px;
  }
}

.textOn {
  padding: 10px 10px;
  border-radius: 0 0 5px 5px;
  background-color: #f6f6f6;
  animation: textDown 500ms;
}
@media (max-width: 768px) {
  .textOn {
    font-size: 13px;
  }
}

.textOff {
  transition: all 500ms ease;
  padding: 0;
}

.empty {
  color: #f6f6f6;
}

.filled {
  color: #ff6060;
}

.fa-star {
  width: 24px;
  height: 24px;
}

.stars {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .stars {
    font-size: 18px;
    justify-content: inherit;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .stars {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.garanties {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 38px 0;
}
@media (max-width: 768px) {
  .garanties {
    padding: 0 30px;
  }
}

.image img {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}
@media (max-width: 768px) {
  .image img {
    height: 111px;
    border-radius: 10px;
    margin: 0;
  }
}

.image {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .image {
    max-width: 768px;
    margin: 0;
    padding: 0 20px;
  }
}

.image h1 {
  position: relative;
  z-index: 2;
  top: -140px;
  color: #fff;
  font-size: 48px;
  font-size: 48px;
}
@media (max-width: 1024px) {
  .image h1 {
    font-size: 38px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .image h1 {
    font-size: 20px;
    text-align: left;
    top: -80px;
    padding: 0 16px;
  }
}

.containerHome {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .containerHome {
    max-width: 768px;
    margin: 0;
  }
}

.containerAbout {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}

/*# sourceMappingURL=index.css.map */
