@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.imageContainer .content {
  display: flex;
  align-items: center;
  width: 340px;
  max-width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 4px;
  color: #fff;
  display: flex;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.imageContainer .content p {
  padding: 0 15px;
}

.imageContainer img {
  width: 340px;
  max-width: 100%;
  height: 340px;
  min-height: 50%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  filter: brightness(80%);
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 100%;
  margin: 0;
}

@keyframes rotateArrow {
  0% {
    transform: rotate 180deg;
  }
  100% {
    transform: rotate(0deg);
  }
}
.error {
  padding-bottom: 50px;
}

.error h1 {
  color: #ff6060;
  font-size: 280px;
  font-weight: 600;
  text-align: center;
}

.error h3 {
  color: #ff6060;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}

.linkError {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 45px 40px;
}

ul {
  display: flex;
  gap: 20px;
}

ul a {
  text-decoration: none;
  color: #ff6060;
}

ul a:hover {
  text-decoration: underline;
}

ul a.active {
  text-decoration: underline;
}

li {
  list-style: none;
}

.image img {
  width: 1440px;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}

.image {
  border-radius: 25px;
  text-align: center;
  padding: 0 30px;
}

.image h1 {
  position: relative;
  z-index: 2;
  top: -180px;
  color: white;
  font-size: 48px;
}

footer {
  background-color: black;
  height: 209px;
}

.imageFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 66px 463px 29px 463px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: #F6F6F6;
  padding: 30px;
  margin: 0 30px;
  border-radius: 25px;
}

.container a {
  text-decoration: none;
}

.carrouselContain {
  position: relative;
  margin-bottom: 30px;
}

.slides {
  border-radius: 25px;
  text-align: center;
}

.slides img {
  width: 1440px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
@media (min-width: 1500px) {
  .slides img {
    width: 2000px;
  }
}

.arrowLeft {
  position: absolute;
  top: 38%;
  left: 2%;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 1500px) {
  .arrowLeft {
    left: 3%;
  }
}
@media (max-width: 768px) {
  .arrowLeft {
    height: 24px;
    width: 24px;
  }
}

.arrowRight {
  position: absolute;
  top: 38%;
  right: 2%;
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 1700px) {
  .arrowRight {
    right: 3%;
  }
}
@media (max-width: 768px) {
  .arrowRight {
    height: 24px;
    width: 24px;
  }
}

.slidePage {
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.containerAcc {
  padding: 0 30px;
  color: #ff6060;
  margin-bottom: 50px;
}
@media (min-width: 2000px) {
  .containerAcc {
    padding: 0 280px;
  }
}

aside {
  float: right;
}

.hostRating {
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.description {
  width: 50%;
}

.title {
  background-color: #ff6060;
  color: #fff;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.text {
  padding: 5px;
  border-radius: 5px;
  background-color: #F6F6F6;
}

.equipments {
  width: 50%;
}

.equip {
  display: flex;
  flex-direction: column;
}

.host {
  display: flex;
  margin-right: 30px;
  margin-top: 25px;
  gap: 10px;
}

.host img {
  border-radius: 100%;
  object-fit: cover;
}

.tag {
  background-color: #ff6060;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  gap: 10px;
  width: auto;
  padding: 3px 15px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 8px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 100%;
  margin: 0;
}

@keyframes rotateArrow {
  0% {
    transform: rotate 180deg;
  }
  100% {
    transform: rotate(0deg);
  }
}
.arrowDown {
  transform: rotate(180deg);
  transition: all 500ms;
}

.arrowDown:active {
  animation: rotateArrow 500ms;
}

.titleArrow {
  display: flex;
  width: 100%;
}

.titleArrow img {
  background-color: #ff6060;
  border-radius: 5px 0 0 5px;
}

.title {
  width: 100%;
}

.empty {
  color: #fff;
}

.filled {
  border: 1px solid #ff6060;
}

/*# sourceMappingURL=index.css.map */
